body{
    margin: 4rem;
}

form{
    width: 80%;
    height: auto;
    background: gray;
    color:black;
    align-content: left;
    padding: 3rem;
    margin: auto;
}
.form-row{
    padding: 10px 0;
    display: flex;
}

.form-row label{
    padding-right: 10px;
    
}

.form-row input{
    flex:1;

}

#tree{
    display: flex;
    width: 90%;
    padding: 10px;
    align-content: left;
    background-color: gray;
    color:black;
    margin: 1rem;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 1rem;
}


.one{
flex:1;
order:2;
}

.tow{
    flex:1;
    order:1;
    

}

.three{
    flex:1;
    order:3;
}

.fluid{
  
    width: 90%;
    margin: auto;
      

}

@media (min-width:900px){

    .fluid{
        display: flex;
       
        justify-content: space-between;
        
       
    
    }
}


#style1{flex-basis:30%;order:1;background-color: red;padding: 0.5rem;text-align: left;color: black}
#style2{flex-basis:30%;background-color: green;padding: 0.5rem;text-align: left;color: black}
#style3{flex-basis:30%;background-color:yellow;padding: 0.5rem;text-align: left;color: black}
